@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

:root{
--Light_Gray: hsl(204, 43%, 93%);
--Light_Cyan: hsl(179, 27%, 52%);
--Grayish_Blue: hsl(218, 22%, 67%);
--Cyan: hsl(179, 62%, 43%);
--Bright_Yellow: hsl(71, 73%, 54%);
--Light_Bright_Yellow:hsl(71, 83%, 70%);
}


body{
    margin: 0;
    padding: 0;

    background-color: var(--Light_Gray);
    font-family: "Karla", sans-serif;
    Font-size: 16px;
}
/*-------------Mobile first (375px)----------*/

.main_container{
    background-color: white;
    width: 313px;/*Ancho*/
    height:730px ; /*Altura*/
    margin: 70px auto 70px; /*Arriba, a los lados, abajo*/
    border-radius: 8px;/*Redondear bordes*/
    overflow: hidden; /*Cualquier elemento que sobre salga se oculte atras de este elemento*/
}

/*-------------Our Community--------*/
.our_community{
    padding: 8px 24px 24px 24px; /*Margenes interiores*/
    height: 270px;/*Altura*/
    box-sizing: border-box;/*Evitar que aumente de tamano del contenedor*/
}

.our_community h2.title{
    font-size: 1.2em;/*Tamaño de la letra*/
    color: var(--Cyan);/*Color de la letra*/
}

.our_community h2.promo{
    color: var(--Bright_Yellow);/*Tamaño de la letra*/
    font-size: 1em;/*Color de la letra*/
    margin: 25px 0 10px 0; /*Arriba  Derecha Abajo Izquierda*/
}
 .our_community p{
    color:var(--Grayish_Blue);
    font-size: 0.86em;
    line-height: 1em;
    margin-top: 16px;

 }
/*-------------Monthly Subscription--------*/

.monthly_subscription{
    background-color: var(--Cyan);
    padding: 12px 24px 24px 24px;/*Margenes interiores*/
    height: 230px;/*Altura*/
    box-sizing: border-box;/*Evitar que aumente de tamano del contenedor*/
    color: var(--Bright_Yellow);
}

.monthly_subscription h2{
    font-size: 1em; /*Tamaño de la fuente*/
    margin-bottom: 18px;/*Margen inferior*/
}

.price{
    font-size: 2em;/*Tamaño de la fuente*/
    font-weight: 700;/*Grueso de la letra*/
}
.monthly_subscription p{
    margin-top: 8px;/*Margen superior*/
}
button{
    margin-top: 14px;/*Margen superior*/
    background-color: var(--Bright_Yellow);
    border-radius: 5px;/*Redondear borde*/
    width: 100%;/*Ancho*/
    height: 48px;/*Alto*/
    border-style: none;/*Quitar estilos*/
    font-size: 16px; /*Cambiar el tamaño de la letra*/
    font-weight: 700px;
    color: var(--Light_Gray);

}

button:active {
    transform: scale(0.9);
  }
button:hover{
    cursor: pointer;
    background-color: var(--Light_Bright_Yellow);
   
}

/*-------------Why Us--------*/

.why_us{
    background-color: var(--Light_Cyan);
    padding: 12px 24px 24px 24px;/*Margenes interiores*/
    height: 230px;/*Altura*/
    box-sizing: border-box;/*Evitar que aumente de tamano del contenedor*/
    color: var(--Light_Gray);
}

.why_us h2{
    font-size: 18px;/**/
}
li{
    list-style: none;/*Quitar estilo de la lista */
    margin-left: -40px;/*Margen izquierdo*/
    font-size: 0.85em;/*Tamaño de la letra */
    line-height: 20px;/*Espacio interlineado*/
    font-weight: 300;/*Ancho de la letra*/
}

/*--------Footer---------*/
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }


/*-------------Desktop-----------------*/

@media only screen and (min-width:680px){

    .main_container{
        width: 636px;  /*Ancho*/
        height: 476px; /*Altura*/
        display: grid; /*Para poder trabajar el lyout mas controlado*/
        grid-template-columns: 1fr 1fr;/*Columnas y filas*/
        margin: 160px auto 100px;
    }

    .our_community{
        grid-column: 1 / 3;/*Poner en posicion */
        padding: 20px 35px 35px 35px; /*Arriba Derecha Abajo Izquierda */
        height: 218px; /*Altura*/
    }

    .our_community h2.title{
        font-size: 1.45em;/*Tamaño de la letra */
    }
    .our_community h2.promo{
        font-size: 1.1em;/*Tamaño de la letra */
    }
    .our_community p{
        font-size: 1em; /*Tamaño de la letra */
        line-height: 27px;/*Interlineado*/
        margin-top: 8px;/*Margen desde la parte superior */
    }

    .monthly_subscription{
        padding: 20px 40px 40px 40px;/*Arriba Derecha Abajo Izquierda*/
        height: 258px;/*Altura*/
    }

    .monthly_subscription h2{
        font-size: 1.1em;/*Tamaño de la letra */
    }
    .monthly_subscription p{
        font-size: 0.95em;/*Tamaño de la letra */
    }

    .why_us{
        height: 258px;/*Altura*/
        padding: 20px 40px 40px 40px;/*Arriba Derecha Abajo Izquierda*/
    }

}
